<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Color Selector</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="productDisplay">
            Loading...
        </div>
        
        <div id="variants">
            <a href="#" data-color="red">red</a>
            <a href="#" data-color="green">green</a>
            <a href="#" data-color="blue">blue</a>
        </div>
        
        <script type="text/template" id='colorDisplay'>
            <h1><%= name %></h1>
            <img src="<%= url%>" alt="<%= alt %>"/>
            <p><%= description%></p>
        </script>
        
        <script src="js/libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="js/libs/underscore.js/underscore.js" type="text/javascript"></script>
        <script src="js/libs/backbone.js/backbone.js" type="text/javascript"></script>
        <script src="js/src/app.js" type="text/javascript"></script>
    </body>
</html>
